@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;700&display=swap');
:root{
    --cor-de-fundo: #a5e2f5;
    --verde: #fdfdfd;
    --branco: #0103a8;
    --botao-ativo: #8bf3e2;
    --botao-inativo: #a5e2f5;
    --texto-de-fundo: #a5e2f5;
}

    body{
        background-color: var(--cor-de-fundo);
        color: var(--branco);
        font-family: 'Chakra Petch', sans-serif;
    }
    
    .conteudo-principal{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
    }
    
    .titulo-principal{
        text-align: left;
        width: 100%;
        font-size: 32px;
    }
    .titulo-principal span{
        color: var(--verde);
    }
    
    .botao{
        font-family: 'Chakra Petch', sans-serif;
        background-color: #a5e2f5;
        color: var(--branco);
        display: flex;
        justify-content: center;
        padding: 1em;
        font-size: 18px;
        align-items: center;
        width: 100%;
        border-bottom: 4px solid var(--botao-ativo);
        border-left: 2px solid var(--botao-ativo);
        border-right: 2px solid var(--botao-ativo);
        border-top: none;
    }
    
    .botao:first-child{
        border-radius: 40px 40px 0 0;
    }
    
    .botoes{
        display: block;
    }
    
    @media screen and (min-width: 768px) {
        .botoes{
            display: flex;
        } 
    
        .botao:first-child{
            border-radius: 40px 0 0 0;
        }
    
        .botao:last-child{
            border-radius: 0 40px 0 0;
        }
    }
    
    .botao.ativo{
        background-color: var(--botao-ativo);
        border-bottom:4px solid rgb(241, 239, 243);
    }
    
    .abas-textos{
        background-color: #a5e2f5;
        padding: 40px;
        border-radius: 0 0 40px 40px;
    }
    
    .aba-conteudo.ativo{
        display: block;
    }
    
    .aba-conteudo{
        display: none;
    }
    
    .aba-conteudo-titulo-principal{
        font-size: 28px;
        text-align: center;
        color:rgb(0, 0, 0);
    }
    
    .aba-conteudo-titulo-secundario{
        text-align: center;
        color: var(--verde);
        text-transform: uppercase;
    }
    
    .contador{
       display: flex;
       justify-content: center;
       flex-wrap: wrap;
    }
    
    .contador-digito{
        padding: 0 16px;
        text-align: center;
        min-width: 100px;
    }
    
    .contador-digito-numero{
        font-size: 80px;
        margin: 0;
    }
    
    .contador-digito-texto{
        font-size: 20px;
        margin: 0;
        color: rgb(0, 0, 0);
    }